<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <title>Let's Party!</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content" th:if="${party}">


        <h2 th:text="${party.name}">partydetails</h2>
        <h3>
            <span th:text="${party.date}">date</span>
            in
            <a th:href="@{|/venuedetails/${party.venue.id}|}" th:text="${party.venue.venueName}">venue</a>
        </h3>
        <form th:action="@{|/admin/partyedit/${party.id}|}" method="post">
            <div>
                <div>
                    <label for="partyName">name: </label>
                    <input id="partyName" name="partyName" value="name" th:value="${party.name}">
                </div>
            </div>
            <div th:unless="${party.pricePresaleInEur!=null || party.priceInEur!=null}">
                Free Party!
            </div>
            <div>
                <label for="pricePresaleInEur" class="infoLineName">price (presale): </label>
                <input id="pricePresaleInEur" name="pricePresaleInEur" value="pricePresaleInEur" th:value="${party.pricePresaleInEur}">
                &nbsp;&euro;
            </div>
            <div>
                <label for="priceInEur" class="infoLineName">price: </label>
                <input id="priceInEur" name="priceInEur" value="priceInEur" th:value="${party.priceInEur}">
                &nbsp;&euro;
            </div>
            <div>
                <label for="extraInfo" class="infoLineName">extra info: </label>
                <input id="extraInfo" name="extraInfo" value="extraInfo" th:value="${party.extraInfo}">
            </div>
            <div>
                <div>where:</div>
                <div th:text="|${party.venue.city} (${party.venue.distanceFromPublicTransportInKm} km from public transport)|">
                    city and distance
                </div>
            </div>
            <div th:if="${party.pricePresaleInEur!=null || party.priceInEur!=null}">
                <div>price:</div>
                <!--suppress SyntaxError -->
                <div th:text="|${party.pricePresaleInEur}${'&euro;'} (presale) / ${party.priceInEur}${'&euro;'}|">
                    pricePresaleInEur and price
                </div>
            </div>
            <div>
                <div>doors</div>
                <div th:text="${party.doors}">date</div>
            </div>
            <div th:if="${!party.extraInfo.isBlank()}">
                <div>extraInfo</div>
                <div th:text="${party.extraInfo}">extraInfo</div>
            </div>
            <div>
                <a th:href="@{|/partydetails/${party.id}|}">cancel</a>
                <input type="submit" value="save">
            </div>
        </form>
    </div>
    <div class="row1content" th:unless="${party}">
        <p>no party was chosen</p>
    </div>
</div>
</body>
</html>