<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <title>Party!</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="row1">
    <div class="row1content" th:object="${party}">
        <h2>new party</h2>
        <div class="error" th:if="${#fields.hasErrors('*')}">ERROR - data is not saved</div>
        <form th:action="@{|/admin/partynew|}" method="post">
            <div class="venueinfo">
                <div class="infoLine">
                    <label for="partyName" class="infoLineName">name: </label>
                    <input id="partyName" th:field="*{name}" th:errorclass="fieldError" class="infoLineValue">
                </div>
                <div class="infoLine">
                    <label for="venue" class="infoLineName">venue: </label>
                    <select id="venue" th:name="venueId" class="infoLineValue">
                        <option th:each="v:${venues}" th:value="${v.id}" th:text="${v.venueName}">
                            one venue
                        </option>
                    </select>
                </div>
                <div class="infoLine">
                    <label for="date" class="infoLineName">date <i>(dd/mm/yyyy)</i>: </label>
                    <input id="date" th:field="*{date}" th:errorclass="fieldError" class="infoLineValue">
                </div>
                <div class="infoLine">
                    <label for="pricePresaleInEur" class="infoLineName">price (presale): </label>
                    <input id="pricePresaleInEur" th:field="*{pricePresaleInEur}" class="infoLineValue">
                    &nbsp;&euro;
                </div>
                <div class="infoLine">
                    <label for="priceInEur" class="infoLineName">price: </label>
                    <input id="priceInEur" th:field="*{priceInEur}" class="infoLineValue">
                    &nbsp;&euro;
                </div>
                <div class="infoLine">
                    <label for="extraInfo" class="infoLineName">extra info: </label>
                    <textarea id="extraInfo" th:field="*{extraInfo}" cols="25" class="infoLineValue"></textarea>
                </div>
                <div class="infoLine">
                    <label for="doors" class="infoLineName">doors <i>(hh:mm)</i>: </label>
                    <input id="doors" th:field="*{doors}" th:errorclass="fieldError" class="infoLineValue">
                </div>
                <div class="infoLine">
                    <label for="artists" class="infoLineName"></label>
                    <select multiple id="artists" name="artistIds" class="infoLineValue">
                        <option value=""></option>
                        <option th:each="artist:${artists}" value="one artist id" th:value="${artist.id}"
                                th:text="${artist.artistName}">
                            one artist
                        </option>
                    </select>
                </div>
                <div>
                    <a class="buttonLook editButton" th:href="@{|/partylist|}">cancel</a>
                    <input type="submit" value="create" class="buttonLook editButton">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>