<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <title>Header</title>
</head>
<body>
<div class="header" th:fragment="header">
    <div class="nav">
        <a class="buttonLook menubutton" th:href="@{/home}">Home</a>
        <a class="buttonLook menubutton" th:href="@{/about}">About</a>
        <a class="buttonLook menubutton" th:href="@{/venuelist}">Venuelist</a>
        <a class="buttonLook menubutton" th:href="@{/artistlist}">Artistlist</a>
        <a class="buttonLook menubutton" th:href="@{/partylist}">Partylist</a>
    </div>
</div>

</body>
</html>