html, body{
    font-family: Verdana;
    background: #111111;
    padding: 0;
    margin: 0;
}
h1{
    color: deeppink;
    font-size: 18px;
}
p{
    color:#cccccc;
    font-size: 12px;
}



.buttonlook{
    background-color: #999999;
    color: white;
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.container{
    width:80%;
    margin-left:auto;
    margin-right: auto;
    float: left;
}

.buttonlook:hover{
    background-color: deeppink;
}

.menubutton{
    float: left;
    margin-left: 10px;

}

.nav{
    overflow: hidden;
    position: relative;
    top:170px;
}

.header{
    background-image: url("../img/party_crowd_on_starburst_0401.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
}

.buttonlist{
    list-style: none;
}

.buttonlist li a{
    background-color: #999999;
    color: white;
    display: block;
    width: 800px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
}

.nextprev{
    margin-top: 150px;
    background-color: deeppink;
    display: block;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.nextprev:hover{
    background-color: magenta;
    width: 25px;
    font-size: 25px;
    line-height: 25px;
    margin-top: 148px;
}

.border{
    width: 10%;
    float: left;
}
.buttonlist li a:hover{
    background-color: deeppink;
}