html, body{
    font-family: Verdana;
    background: white;
    padding: 0;
    margin: 0;
}
h1{
    color: deeppink;
    font-size: 18px;
}
p{
    color: #123456;
    font-size: 12px;
}

.container{
    width:80%;
    margin-left:auto;
    margin-right: auto;
    float: left;
}

.buttonlook:hover{
    background-color: deeppink;
}

.menubutton{
    float: left;
    margin-left: 10px;
    width: 100px;

}

.nav{
    overflow: hidden;
    position: relative;
    top:170px;
}

.header{
    background-image: url("../img/party_crowd_on_starburst_0401.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
}

.buttonlist{
    list-style: none;
}

.buttonlist li a{
    background-color: #999999;
    color: white;
    display: block;
    width: 800px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
}
.buttonlistunderscript {
    font-size: 10px;
}

.prev{
    margin-top: 150px;
    background-color: deeppink;
    display: block;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 10px;
    top: 160px;
}
.next{
    margin-top: 150px;
    background-color: deeppink;
    display: block;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 10px;
    top: 160px;
}

.nextprev:hover{
    background-color: magenta;
    width: 25px;
    font-size: 25px;
    line-height: 25px;
    margin-top: 148px;
}

.border{
    width: 10%;
    float: left;
}
.buttonlist li a:hover{
    background-color: deeppink;
}
.linkerkantvenuedetails{
    float:left;
    width:30%;
}
.rechterkantvenuedetails{
    float:left;
    width:50%;
}
.sublist{
    height: 45px;
}
.error {
    color: red;
    font-size: larger;
}
.fieldError, input.fieldError {
    background-color: red;
}
.listview {
    float: left;
}
.filters {
    margin: 15px 50px 0 0;
    float: left;
    width: 35%;
}
.row1 {
    display: flex;
    position: relative;
    margin: 20px 0;
}
.row1content {
    flex-grow: 4;
    margin: 0 50px;
}
.cols2 {
    position: relative;
}
.buttonLook {
    background-color: magenta;
    color: white;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
}

.buttonLook:hover {
    background-color: yellow;
    color: black;
}

.buttonLook:active {
    background-color: yellow;
    color: black;
}
.filterButton {
    margin: 20px 0;
    padding: .5em;
    border: none;
    font-size: medium;
}
.onefilter {
    display: flex;
    margin: 2px 0;
}

.onefilter input {
    margin-left: 3px;
    margin-right: 3px;
}


.onefilter input[type="text" i] {
    width: 15em;
}

.onefilter input[type="number" i] {
    width: 5em;
}
.venuelist {
    float: left;
}
a.mediumButton {
    display: block;
    margin: 10px auto;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
}
a.smallButton {
    display: block;
    font-size: 1em;
    padding: 0.5em;
}
.prevButtonDiv {
    position: fixed;
    left: 10px;
    top: 210px;
}

.nextButtonDiv {
    position: fixed;
    right: 10px;
    top: 210px;
}
.editButtonDiv {
    position: absolute;
    right: 60px;
}
a.linkLook {
    background-color: transparent;
    color: #6A8E7F;
}

a.linkLook:hover {
    background-color: transparent;
    color: #989572;
}
.venueinfo {
    margin: 30px 0;
}
.infoLine {
    margin: 15px 0;
    font-size: 1em;
    display: flex;
}
.infoLineName {
    width: 13em;
}
.infoLineValue {
    font-size: 1.2em;
    text-align: left;
}