<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>

<div class="row1">
    <div class="row1content">
        <div class="editButtonDiv">
        </div>
        <h1>Partylist</h1>
        <a class="buttonLook" th:href="@{|/admin/partynew|}">new</a>
        <lu class="buttonlist" th:each="party:${parties}">
            <li>
                <a th:href="@{|/partydetails/${party.id}|}">
                    <span th:text="${party.name}">party name </span>
                </a>
            </li>
        </lu>
    </div>
</div>
</body>
</html>