
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
  <title>Party</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div>
  <div th:if="${party}">

    <div>
      <a th:href="@{|/partydetails/${party.id}/prev|}">&lt;</a>
    </div>
    <div>
      <a th:href="@{|/partydetails/${party.id}/next|}">&gt;</a>
    </div>

    <h2 th:text="${party.name}">partydetails</h2>

    <h3>
      <span th:text="${party.date}">date</span>
      in
      <a th:href="@{|/venuedetails/${party.venue.id}|}" th:text="${party.venue.venueName}">venue</a>
    </h3>

    <div>
      <div th:unless="${party.pricePresaleInEur!=null || party.priceInEur!=null}">
        Free Party!
      </div>
      <div>
        <div>where:</div>
        <div th:text="|${party.venue.city} (${party.venue.distanceFromPublicTransportInKm} km from public transport)|">
          city and distance
        </div>
      </div>
      <div th:if="${party.pricePresaleInEur!=null || party.priceInEur!=null}">
        <div>price:</div>
        <!--suppress SyntaxError -->
        <div th:text="|${party.pricePresaleInEur}&euro; (presale) / ${party.priceInEur}&euro;|">
          pricePresaleInEur and price
        </div>
      </div>
      <div>
        <div>doors</div>
        <div th:text="${party.doors}">date</div>
      </div>
      <div th:if="${!party.extraInfo.isBlank()}">
        <div>extraInfo</div>
        <div th:text="${party.extraInfo}">extraInfo</div>
      </div>
    </div>

  </div>
  <div th:unless="${party}">
    <p>no party was chosen</p>
  </div>
</div>
<div class="row1">
  <div class="row1content">
    <h2>line up: </h2>

    <div class="venuelist">
      <div th:each="artist:${party.artists}">
        <a th:href="@{|/artistdetailsbyid/${artist.id}|}">
          <span th:text="${artist.artistName}">artist name </span>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>