<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue detail by index</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="border">
    <a th:href="@{|/venuedetailsbyindex/${prevIndex}|}" href="#" class="nextprev">&lt;</a>
</div>
<div class="container">
    <h1 th:text="${venueTitle}">venueTitle</h1>
    <p>Welcome to the Venue Index Page.</p>
</div>
<div class="border">
    <a th:href="@{|/venuedetailsbyindex/${nextIndex}|}" href="#" class="nextprev">&gt;</a>
</div>
</body>
</html>