<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue list</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<h1>Venues</h1>
<div th:if="${showFilters}"><h1>Hier komen de filters!! </h1>
    <form>
        <div><input type="submit" value="search"></div>
        <h3>capacity</h3>
        <div>
            <label for="minCapacity" l>min</label>
            <input type="number" id="minCapacity" name="minCapacity" value="0" step="50">persons</input>
            <label for="maxCapacity" l>max</label>
            <input type="number" id="maxCapacity" name="maxCapacity" value="0" step="50">persons</input>
        </div>
    </form>
</div>
<a class="buttonlook" th:unless="${showFilters}" href="/venuelist/filter">Filter</a>
<ul class="buttonlist">
    <li th:each="venue, iStat:${venues}"><a th:href="@{|/venuedetails/*{venue.getId()}|}" href=""><span
            th:text="|${venue.getVenueName()}|">venue name</span><br><span class="buttonlistunderscript" th:text="|Capacity ${venue.getCapacity}|"></span></a>
</ul>
</ul>
</div>
</body>
</html>