<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue list</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<div class="row1">
    <div class="row1content">
        <h1>Venues</h1>
        <div class="cols2">
            <div th:if="${showFilters}" class="filters">
                <a class="buttonLook filterButton" th:href="@{/venuelist}">-</a>
                <form>
                    <div>
                        <input type="submit" value="search">
                    </div>
                    <h3>capacity</h3>
                    <div class="onefilter">
                        <label for="minCapacity">min</label>
                        <input type="number" id="minCapacity" name="minCapacity" th:value="${minCapacity}" value="0"
                               step="50">persons</input>
                    </div>
                    <div class="onefilter">
                        <label for="maxCapacity">max</label>
                        <input type="number" id="maxCapacity" name="maxCapacity" th:value="${maxCapacity}" value="0"
                               step="50">persons</input>
                    </div>
                    <h3>Distance from public transport</h3>
                    <div class="onefilter">
                        <label for="maxDistance">max</label>
                        <input type="number" id="maxDistance" name="maxDistance" value="0"
                               th:value="${maxDistance} ? ${maxDistance} : ''" step="1">km</input>
                    </div>
                    <h3>Food</h3>
                    <div class="onefilter">
                        <label for="foodProvided">yes</label>
                        <input type="radio" id="foodProvided" name="foodProvided" value="true"
                               th:checked="${foodProvided=='true'}"></input>
                    </div>
                    <div class="onefilter">
                        <label for="foodProvided1">no</label>
                        <input type="radio" id="foodProvided1" name="foodProvided" value="false"
                               th:checked="${foodProvided=='false'}"></input>
                    </div>
                    <div class="onefilter">
                        <label for="foodProvided2">all</label>
                        <input type="radio" id="foodProvided2" name="foodProvided" value="all"></input>
                    </div>
                    <h3>Indoor</h3>
                    <div class="onefilter">
                        <label for="indoor">yes</label>
                        <input type="radio" id="indoor" name="indoor" value="true"
                               th:checked="${indoor=='true'}"></input>
                    </div>
                    <div class="onefilter">
                        <label for="indoor">no</label>
                        <input type="radio" id="indoor1" name="indoor" value="false"
                               th:checked="${indoor=='false'}"></input>
                    </div>
                    <div class="onefilter">
                        <label for="indoor">all</label>
                        <input type="radio" id="indoor2" name="indoor"></input>
                    </div>
                    <h3>Outdoor</h3>
                    <div class="onefilter">
                        <label for="outdoor">yes</label>
                        <input type="radio" id="outdoor" name="outdoor" value="true"
                               th:checked="${outdoor=='true'}"></input>
                    </div>
                    <div class="onefilter">
                        <label for="outdoor">no</label>
                        <input type="radio" id="outdoor1" name="outdoor" value="false"
                               th:checked="${outdoor=='false'}"></input>
                    </div>
                    <div class="onefilter">
                        <label for="outdoor">all</label>
                        <input type="radio" id="outdoor2" name="outdoor"></input>
                    </div>
                </form>
            </div>
            <div class="venuelist">
                <a class="buttonLook" th:unless="${showFilters}" href="/venuelist/filter">Filter</a>
                <ul class="buttonlist">
                    <li th:each="venue, iStat:${venues}"><a th:href="@{|/venuedetails/*{venue.getId()}|}" href=""><span
                            th:text="|${venue.getVenueName()}|">venue name</span><br><span class="buttonlistunderscript"
                                                                                           th:text="|Capacity ${venue.getCapacity}|"></span></a>
                </ul>
            </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>